/* Styles */
html, body {
  min-height: 100%;
  margin: -5px 0px 0px 0px;
}

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-height: 100%;
  margin: 0;
}

#mapElement {
  position: absolute;
  min-height: 100%;
  min-width: 100%
}

.profile-form {
  margin: 20px 10px 10px 10px;
  padding: 5px;
  background-color: white;
  position: absolute;
  z-index: 1;
  max-width: 310px;
}

.left-panel {
  margin: 0;
  background-color: white;
  position: absolute;
  padding: 10px 0px 10px 10px;
  z-index: 1;
  min-height: 100%;
}

.filters {
  margin: 10px 20px 10px 10px;
}

.info {
  margin: 10px 20px 10px 10px;
  position: absolute;
  bottom: 0;
}

.control-buttons {
  z-index: 1;
  position: relative;
  margin-left: auto;
  margin-top: 30px;
  margin-right: 20px;
  background-color: white;
  padding: 5px 10px 5px 15px;
  float: right;
}

.user-info-box {
  display: inline-flex;
  padding-right: 10px;
}

.user-pic {
  max-width: 80px;
  max-height: 80px;
}

.user-info {
  margin-left:10px;
}

.btn {
  margin: 10px 10px 10px 10px;
}


/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login-btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

.btn-auth {
  display: block;
}

.background {
  min-width: 100%;
  min-height: 100%;
  background: url(/img/background.jpg) no-repeat;
  background-size: cover;
  position: absolute;
}

.auth-block {
  position: relative;
  margin: auto;
  width: 30%;
  padding: 20% 0;
}

.btn-request {
  margin-left: 0;
}
