/* Styles */
html, body {
  min-height: 100%;
  margin: 0;
}

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-height: 100%;
  margin: 0;
}

#mapElement {
  position: absolute;
  min-height: 100%;
  min-width: 100%
}

.filter-buttons {
  margin: 10px;
  padding: 5px;
  background-color: white;
  position: absolute;
  z-index: 1;
}

.control-buttons {
  z-index: 1;
  position: inherit;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
  background-color: white;
}

.user-info-box {
  max-width: 240px;
  display: inline-flex;
}

.user-pic {
  max-width: 80px;
  max-height: 80px;
}

.user-info {
  margin-left:10px;
}

